@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fs1 {
	font-size: 4em;
	margin: 0 0 0.3em 0;
}

.fs2 {
	font-size: 3em;
	margin: 0 0.2em 0.3em 0.2em;
}

.ie8 .fs2 {
	font-size: 2.5em;
}



/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icomoon-home, .icomoon-home-2, .icomoon-home-3, .icomoon-office, .icomoon-newspaper, .icomoon-pencil, .icomoon-pencil-2, .icomoon-quill, .icomoon-pen, .icomoon-blog, .icomoon-droplet, .icomoon-paint-format, .icomoon-image, .icomoon-image-2, .icomoon-images, .icomoon-camera, .icomoon-music, .icomoon-headphones, .icomoon-play, .icomoon-film, .icomoon-camera-2, .icomoon-dice, .icomoon-pacman, .icomoon-spades, .icomoon-clubs, .icomoon-diamonds, .icomoon-pawn, .icomoon-bullhorn, .icomoon-connection, .icomoon-podcast, .icomoon-feed, .icomoon-book, .icomoon-books, .icomoon-library, .icomoon-file, .icomoon-profile, .icomoon-file-2, .icomoon-file-3, .icomoon-file-4, .icomoon-copy, .icomoon-copy-2, .icomoon-copy-3, .icomoon-paste, .icomoon-paste-2, .icomoon-paste-3, .icomoon-stack, .icomoon-folder, .icomoon-folder-open, .icomoon-tag, .icomoon-tags, .icomoon-barcode, .icomoon-qrcode, .icomoon-ticket, .icomoon-cart, .icomoon-cart-2, .icomoon-cart-3, .icomoon-coin, .icomoon-credit, .icomoon-calculate, .icomoon-support, .icomoon-phone, .icomoon-phone-hang-up, .icomoon-address-book, .icomoon-notebook, .icomoon-envelop, .icomoon-pushpin, .icomoon-location, .icomoon-location-2, .icomoon-compass, .icomoon-map, .icomoon-map-2, .icomoon-history, .icomoon-clock, .icomoon-clock-2, .icomoon-alarm, .icomoon-alarm-2, .icomoon-bell, .icomoon-stopwatch, .icomoon-calendar, .icomoon-calendar-2, .icomoon-print, .icomoon-keyboard, .icomoon-screen, .icomoon-laptop, .icomoon-mobile, .icomoon-mobile-2, .icomoon-tablet, .icomoon-tv, .icomoon-cabinet, .icomoon-drawer, .icomoon-drawer-2, .icomoon-drawer-3, .icomoon-box-add, .icomoon-box-remove, .icomoon-download, .icomoon-upload, .icomoon-disk, .icomoon-storage, .icomoon-undo, .icomoon-redo, .icomoon-flip, .icomoon-flip-2, .icomoon-undo-2, .icomoon-redo-2, .icomoon-forward, .icomoon-reply, .icomoon-bubble, .icomoon-bubbles, .icomoon-bubbles-2, .icomoon-bubble-2, .icomoon-bubbles-3, .icomoon-bubbles-4, .icomoon-user, .icomoon-users, .icomoon-user-2, .icomoon-users-2, .icomoon-user-3, .icomoon-user-4, .icomoon-quotes-left, .icomoon-busy, .icomoon-spinner, .icomoon-spinner-2, .icomoon-spinner-3, .icomoon-spinner-4, .icomoon-spinner-5, .icomoon-spinner-6, .icomoon-binoculars, .icomoon-search, .icomoon-zoom-in, .icomoon-zoom-out, .icomoon-expand, .icomoon-contract, .icomoon-expand-2, .icomoon-contract-2, .icomoon-key, .icomoon-key-2, .icomoon-lock, .icomoon-lock-2, .icomoon-unlocked, .icomoon-wrench, .icomoon-settings, .icomoon-equalizer, .icomoon-cog, .icomoon-cogs, .icomoon-cog-2, .icomoon-hammer, .icomoon-wand, .icomoon-aid, .icomoon-bug, .icomoon-pie, .icomoon-stats, .icomoon-bars, .icomoon-bars-2, .icomoon-gift, .icomoon-trophy, .icomoon-glass, .icomoon-mug, .icomoon-food, .icomoon-leaf, .icomoon-rocket, .icomoon-meter, .icomoon-meter2, .icomoon-dashboard, .icomoon-hammer-2, .icomoon-fire, .icomoon-lab, .icomoon-magnet, .icomoon-remove, .icomoon-remove-2, .icomoon-briefcase, .icomoon-airplane, .icomoon-truck, .icomoon-road, .icomoon-accessibility, .icomoon-target, .icomoon-shield, .icomoon-lightning, .icomoon-switch, .icomoon-power-cord, .icomoon-signup, .icomoon-list, .icomoon-list-2, .icomoon-numbered-list, .icomoon-menu, .icomoon-menu-2, .icomoon-tree, .icomoon-cloud, .icomoon-cloud-download, .icomoon-cloud-upload, .icomoon-download-2, .icomoon-upload-2, .icomoon-download-3, .icomoon-upload-3, .icomoon-globe, .icomoon-earth, .icomoon-link, .icomoon-flag, .icomoon-attachment, .icomoon-eye, .icomoon-eye-blocked, .icomoon-eye-2, .icomoon-bookmark, .icomoon-bookmarks, .icomoon-brightness-medium, .icomoon-brightness-contrast, .icomoon-contrast, .icomoon-star, .icomoon-star-2, .icomoon-star-3, .icomoon-heart, .icomoon-heart-2, .icomoon-heart-broken, .icomoon-thumbs-up, .icomoon-thumbs-up-2, .icomoon-happy, .icomoon-happy-2, .icomoon-smiley, .icomoon-smiley-2, .icomoon-tongue, .icomoon-tongue-2, .icomoon-sad, .icomoon-sad-2, .icomoon-wink, .icomoon-wink-2, .icomoon-grin, .icomoon-grin-2, .icomoon-cool, .icomoon-cool-2, .icomoon-angry, .icomoon-angry-2, .icomoon-evil, .icomoon-evil-2, .icomoon-shocked, .icomoon-shocked-2, .icomoon-confused, .icomoon-confused-2, .icomoon-neutral, .icomoon-neutral-2, .icomoon-wondering, .icomoon-wondering-2, .icomoon-point-up, .icomoon-point-right, .icomoon-point-down, .icomoon-point-left, .icomoon-warning, .icomoon-notification, .icomoon-question, .icomoon-info, .icomoon-info-2, .icomoon-blocked, .icomoon-cancel-circle, .icomoon-checkmark-circle, .icomoon-spam, .icomoon-close, .icomoon-checkmark, .icomoon-checkmark-2, .icomoon-spell-check, .icomoon-minus, .icomoon-plus, .icomoon-enter, .icomoon-exit, .icomoon-play-2, .icomoon-pause, .icomoon-stop, .icomoon-backward, .icomoon-forward-2, .icomoon-play-3, .icomoon-pause-2, .icomoon-stop-2, .icomoon-backward-2, .icomoon-forward-3, .icomoon-first, .icomoon-last, .icomoon-previous, .icomoon-next, .icomoon-eject, .icomoon-volume-high, .icomoon-volume-medium, .icomoon-volume-low, .icomoon-volume-mute, .icomoon-volume-mute-2, .icomoon-volume-increase, .icomoon-volume-decrease, .icomoon-loop, .icomoon-loop-2, .icomoon-loop-3, .icomoon-shuffle, .icomoon-arrow-up-left, .icomoon-arrow-up, .icomoon-arrow-up-right, .icomoon-arrow-right, .icomoon-arrow-down-right, .icomoon-arrow-down, .icomoon-arrow-down-left, .icomoon-arrow-left, .icomoon-arrow-up-left-2, .icomoon-arrow-up-2, .icomoon-arrow-up-right-2, .icomoon-arrow-right-2, .icomoon-arrow-down-right-2, .icomoon-arrow-down-2, .icomoon-arrow-down-left-2, .icomoon-arrow-left-2, .icomoon-arrow-up-left-3, .icomoon-arrow-up-3, .icomoon-arrow-up-right-3, .icomoon-arrow-right-3, .icomoon-arrow-down-right-3, .icomoon-arrow-down-3, .icomoon-arrow-down-left-3, .icomoon-arrow-left-3, .icomoon-tab, .icomoon-checkbox-checked, .icomoon-checkbox-unchecked, .icomoon-checkbox-partial, .icomoon-radio-checked, .icomoon-radio-unchecked, .icomoon-crop, .icomoon-scissors, .icomoon-filter, .icomoon-filter-2, .icomoon-font, .icomoon-text-height, .icomoon-text-width, .icomoon-bold, .icomoon-underline, .icomoon-italic, .icomoon-strikethrough, .icomoon-omega, .icomoon-sigma, .icomoon-table, .icomoon-table-2, .icomoon-insert-template, .icomoon-pilcrow, .icomoon-left-to-right, .icomoon-right-to-left, .icomoon-paragraph-left, .icomoon-paragraph-center, .icomoon-paragraph-right, .icomoon-paragraph-justify, .icomoon-paragraph-left-2, .icomoon-paragraph-center-2, .icomoon-paragraph-right-2, .icomoon-paragraph-justify-2, .icomoon-indent-increase, .icomoon-indent-decrease, .icomoon-new-tab, .icomoon-embed, .icomoon-code, .icomoon-console, .icomoon-share, .icomoon-mail, .icomoon-mail-2, .icomoon-mail-3, .icomoon-mail-4, .icomoon-google, .icomoon-google-plus, .icomoon-google-plus-2, .icomoon-google-plus-3, .icomoon-google-plus-4, .icomoon-google-drive, .icomoon-facebook, .icomoon-facebook-2, .icomoon-facebook-3, .icomoon-instagram, .icomoon-twitter, .icomoon-twitter-2, .icomoon-twitter-3, .icomoon-feed-2, .icomoon-feed-3, .icomoon-feed-4, .icomoon-youtube, .icomoon-youtube-2, .icomoon-vimeo, .icomoon-vimeo2, .icomoon-vimeo-2, .icomoon-lanyrd, .icomoon-flickr, .icomoon-flickr-2, .icomoon-flickr-3, .icomoon-flickr-4, .icomoon-picassa, .icomoon-picassa-2, .icomoon-dribbble, .icomoon-dribbble-2, .icomoon-dribbble-3, .icomoon-forrst, .icomoon-forrst-2, .icomoon-deviantart, .icomoon-deviantart-2, .icomoon-steam, .icomoon-steam-2, .icomoon-github, .icomoon-github-2, .icomoon-github-3, .icomoon-github-4, .icomoon-github-5, .icomoon-wordpress, .icomoon-wordpress-2, .icomoon-joomla, .icomoon-blogger, .icomoon-blogger-2, .icomoon-tumblr, .icomoon-tumblr-2, .icomoon-yahoo, .icomoon-tux, .icomoon-apple, .icomoon-finder, .icomoon-android, .icomoon-windows, .icomoon-windows8, .icomoon-soundcloud, .icomoon-soundcloud-2, .icomoon-skype, .icomoon-reddit, .icomoon-linkedin, .icomoon-lastfm, .icomoon-lastfm-2, .icomoon-delicious, .icomoon-stumbleupon, .icomoon-stumbleupon-2, .icomoon-stackoverflow, .icomoon-pinterest, .icomoon-pinterest-2, .icomoon-xing, .icomoon-xing-2, .icomoon-flattr, .icomoon-foursquare, .icomoon-foursquare-2, .icomoon-paypal, .icomoon-paypal-2, .icomoon-paypal-3, .icomoon-yelp, .icomoon-libreoffice, .icomoon-file-pdf, .icomoon-file-openoffice, .icomoon-file-word, .icomoon-file-excel, .icomoon-file-zip, .icomoon-file-powerpoint, .icomoon-file-xml, .icomoon-file-css, .icomoon-html5, .icomoon-html5-2, .icomoon-css3, .icomoon-chrome, .icomoon-firefox, .icomoon-IE, .icomoon-opera, .icomoon-safari, .icomoon-IcoMoon, .icomoon-smashing, .icomoon-vk, .icomoon-circles, .icomoon-behance, .icomoon-mixi, .icomoon-soundcloud-3, .icomoon-picasa, .icomoon-paypal-4, .icomoon-sina-weibo, .icomoon-renren, .icomoon-skype-2, .icomoon-skype-3, .icomoon-flattr-2, .icomoon-evernote, .icomoon-dropbox, .icomoon-instagram-2, .icomoon-qq, .icomoon-spotify, .icomoon-spotify-2, .icomoon-rdio, .icomoon-rdio-2, .icomoon-lastfm-3, .icomoon-lastfm-4, .icomoon-stumbleupon-3, .icomoon-stumbleupon-4, .icomoon-dribbble-4, .icomoon-dribbble-5, .icomoon-linkedin-2, .icomoon-linkedin-3, .icomoon-tumblr-3, .icomoon-tumblr-4, .icomoon-pinterest-3, .icomoon-pinterest-4, .icomoon-googleplus, .icomoon-googleplus-2, .icomoon-facebook-4, .icomoon-facebook-5, .icomoon-facebook-6, .icomoon-twitter-4, .icomoon-twitter-5, .icomoon-vimeo-3, .icomoon-vimeo-4, .icomoon-flickr-5, .icomoon-flickr-6, .icomoon-github-6, .icomoon-github-7, .icomoon-daniel-bruce, .icomoon-daniel-bruce-2, .icomoon-cc-share, .icomoon-cc-share-2, .icomoon-cc-zero, .icomoon-cc-pd, .icomoon-cc-nd, .icomoon-cc-sa, .icomoon-cc-nc-jp, .icomoon-cc-nc-eu, .icomoon-cc-nc, .icomoon-cc-by, .icomoon-cc, .icomoon-dot, .icomoon-dots, .icomoon-ellipsis, .icomoon-menu-3, .icomoon-arrow-right-4, .icomoon-arrow-up-4, .icomoon-arrow-down-4, .icomoon-arrow-left-4, .icomoon-untitled, .icomoon-arrow-up-5, .icomoon-arrow-down-5, .icomoon-arrow-left-5, .icomoon-arrow-right-5, .icomoon-arrow-up-6, .icomoon-arrow-down-6, .icomoon-arrow-left-6, .icomoon-arrow-right-6, .icomoon-arrow-up-7, .icomoon-arrow-down-7, .icomoon-arrow-left-7, .icomoon-arrow-right-7, .icomoon-arrow-up-8, .icomoon-arrow-down-8, .icomoon-arrow-left-8, .icomoon-arrow-right-8, .icomoon-arrow-up-9, .icomoon-arrow-down-9, .icomoon-arrow-left-9, .icomoon-arrow-right-9, .icomoon-arrow-up-10, .icomoon-arrow-down-10, .icomoon-arrow-left-10, .icomoon-arrow-right-10, .icomoon-arrow-up--upload, .icomoon-arrow-down-11, .icomoon-arrow-left-11, .icomoon-flow-parallel, .icomoon-flow-line, .icomoon-flow-tree, .icomoon-flow-branch, .icomoon-flow-cascade, .icomoon-mute, .icomoon-sound, .icomoon-volume, .icomoon-resize-shrink, .icomoon-resize-enlarge, .icomoon-last-2, .icomoon-first-2, .icomoon-previous-2, .icomoon-next-2, .icomoon-stop-3, .icomoon-record, .icomoon-pause-3, .icomoon-play-4, .icomoon-book-2, .icomoon-bookmarks-2, .icomoon-bookmark-2, .icomoon-upload-4, .icomoon-cloud-2, .icomoon-install, .icomoon-disk-2, .icomoon-download-4, .icomoon-upload-5, .icomoon-trash, .icomoon-archive, .icomoon-folder-2, .icomoon-music-2, .icomoon-video, .icomoon-pictures, .icomoon-landscape, .icomoon-docs, .icomoon-document, .icomoon-text, .icomoon-text-2, .icomoon-list-3, .icomoon-layout, .icomoon-add-to-list, .icomoon-list-4, .icomoon-switch-2, .icomoon-back, .icomoon-history-2, .icomoon-loop-4, .icomoon-retweet, .icomoon-arrow, .icomoon-arrow-2, .icomoon-shuffle-2, .icomoon-ccw, .icomoon-cw, .icomoon-cycle, .icomoon-warning-2, .icomoon-help, .icomoon-question-2, .icomoon-info-3, .icomoon-info-4, .icomoon-blocked-2, .icomoon-erase, .icomoon-plus-2, .icomoon-minus-2, .icomoon-cross, .icomoon-plus-3, .icomoon-minus-3, .icomoon-cross-2, .icomoon-plus-4, .icomoon-minus-4, .icomoon-cross-3, .icomoon-checkmark-3, .icomoon-login, .icomoon-logout, .icomoon-lock-open, .icomoon-lock-3, .icomoon-graph, .icomoon-bars-3, .icomoon-pie-2, .icomoon-statistics, .icomoon-untitled-2, .icomoon-droplets, .icomoon-thermometer, .icomoon-signal, .icomoon-rss, .icomoon-ticket-2, .icomoon-box, .icomoon-cart-4, .icomoon-clipboard, .icomoon-voicemail, .icomoon-database, .icomoon-credit-card, .icomoon-light-bulb, .icomoon-infinity, .icomoon-screen-2, .icomoon-code-2, .icomoon-adjust, .icomoon-sun, .icomoon-sun-2, .icomoon-progress-0, .icomoon-brogress-1, .icomoon-progress-2, .icomoon-progress-3, .icomoon-publish, .icomoon-browser, .icomoon-keyboard-2, .icomoon-earth-2, .icomoon-cone, .icomoon-suitcase, .icomoon-brush, .icomoon-rocket-2, .icomoon-cup, .icomoon-drive, .icomoon-magnet-2, .icomoon-bucket, .icomoon-battery, .icomoon-key-3, .icomoon-network, .icomoon-language, .icomoon-gauge, .icomoon-hourglass, .icomoon-air, .icomoon-briefcase-2, .icomoon-cd, .icomoon-droplet-2, .icomoon-thunder, .icomoon-bolt, .icomoon-calendar-3, .icomoon-microphone, .icomoon-clock-3, .icomoon-eye-3, .icomoon-lifebuoy, .icomoon-airplane-2, .icomoon-bag, .icomoon-newspaper-2, .icomoon-book-3, .icomoon-graduation, .icomoon-new, .icomoon-music-3, .icomoon-music-4, .icomoon-leaf-2, .icomoon-palette, .icomoon-moon, .icomoon-megaphone, .icomoon-camera-3, .icomoon-tag-2, .icomoon-trophy-2, .icomoon-tools, .icomoon-cog-3, .icomoon-flag-2, .icomoon-link-2, .icomoon-bell-2, .icomoon-printer, .icomoon-flashlight, .icomoon-search-2, .icomoon-popup, .icomoon-house, .icomoon-quote, .icomoon-comment, .icomoon-chat, .icomoon-thumbs-down, .icomoon-thumbs-up-3, .icomoon-star-4, .icomoon-star-5, .icomoon-heart-3, .icomoon-heart-4, .icomoon-sharable, .icomoon-share-2, .icomoon-target-2, .icomoon-location-3, .icomoon-compass-2, .icomoon-map-3, .icomoon-location-4, .icomoon-export, .icomoon-vcard, .icomoon-user-add, .icomoon-users-3, .icomoon-user-5, .icomoon-forward-4, .icomoon-reply-all, .icomoon-reply-2, .icomoon-drawer-4, .icomoon-paperclip, .icomoon-feather, .icomoon-pencil-3, .icomoon-paperplane, .icomoon-mail-5, .icomoon-directions, .icomoon-mouse, .icomoon-mobile-3, .icomoon-phone-2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icomoon-home:before {
	content: "\e000";
}
.icomoon-home-2:before {
	content: "\e001";
}
.icomoon-home-3:before {
	content: "\e002";
}
.icomoon-office:before {
	content: "\e003";
}
.icomoon-newspaper:before {
	content: "\e004";
}
.icomoon-pencil:before {
	content: "\e005";
}
.icomoon-pencil-2:before {
	content: "\e006";
}
.icomoon-quill:before {
	content: "\e007";
}
.icomoon-pen:before {
	content: "\e008";
}
.icomoon-blog:before {
	content: "\e009";
}
.icomoon-droplet:before {
	content: "\e00a";
}
.icomoon-paint-format:before {
	content: "\e00b";
}
.icomoon-image:before {
	content: "\e00c";
}
.icomoon-image-2:before {
	content: "\e00d";
}
.icomoon-images:before {
	content: "\e00e";
}
.icomoon-camera:before {
	content: "\e00f";
}
.icomoon-music:before {
	content: "\e010";
}
.icomoon-headphones:before {
	content: "\e011";
}
.icomoon-play:before {
	content: "\e012";
}
.icomoon-film:before {
	content: "\e013";
}
.icomoon-camera-2:before {
	content: "\e014";
}
.icomoon-dice:before {
	content: "\e015";
}
.icomoon-pacman:before {
	content: "\e016";
}
.icomoon-spades:before {
	content: "\e017";
}
.icomoon-clubs:before {
	content: "\e018";
}
.icomoon-diamonds:before {
	content: "\e019";
}
.icomoon-pawn:before {
	content: "\e01a";
}
.icomoon-bullhorn:before {
	content: "\e01b";
}
.icomoon-connection:before {
	content: "\e01c";
}
.icomoon-podcast:before {
	content: "\e01d";
}
.icomoon-feed:before {
	content: "\e01e";
}
.icomoon-book:before {
	content: "\e01f";
}
.icomoon-books:before {
	content: "\e020";
}
.icomoon-library:before {
	content: "\e021";
}
.icomoon-file:before {
	content: "\e022";
}
.icomoon-profile:before {
	content: "\e023";
}
.icomoon-file-2:before {
	content: "\e024";
}
.icomoon-file-3:before {
	content: "\e025";
}
.icomoon-file-4:before {
	content: "\e026";
}
.icomoon-copy:before {
	content: "\e027";
}
.icomoon-copy-2:before {
	content: "\e028";
}
.icomoon-copy-3:before {
	content: "\e029";
}
.icomoon-paste:before {
	content: "\e02a";
}
.icomoon-paste-2:before {
	content: "\e02b";
}
.icomoon-paste-3:before {
	content: "\e02c";
}
.icomoon-stack:before {
	content: "\e02d";
}
.icomoon-folder:before {
	content: "\e02e";
}
.icomoon-folder-open:before {
	content: "\e02f";
}
.icomoon-tag:before {
	content: "\e030";
}
.icomoon-tags:before {
	content: "\e031";
}
.icomoon-barcode:before {
	content: "\e032";
}
.icomoon-qrcode:before {
	content: "\e033";
}
.icomoon-ticket:before {
	content: "\e034";
}
.icomoon-cart:before {
	content: "\e035";
}
.icomoon-cart-2:before {
	content: "\e036";
}
.icomoon-cart-3:before {
	content: "\e037";
}
.icomoon-coin:before {
	content: "\e038";
}
.icomoon-credit:before {
	content: "\e039";
}
.icomoon-calculate:before {
	content: "\e03a";
}
.icomoon-support:before {
	content: "\e03b";
}
.icomoon-phone:before {
	content: "\e03c";
}
.icomoon-phone-hang-up:before {
	content: "\e03d";
}
.icomoon-address-book:before {
	content: "\e03e";
}
.icomoon-notebook:before {
	content: "\e03f";
}
.icomoon-envelop:before {
	content: "\e040";
}
.icomoon-pushpin:before {
	content: "\e041";
}
.icomoon-location:before {
	content: "\e042";
}
.icomoon-location-2:before {
	content: "\e043";
}
.icomoon-compass:before {
	content: "\e044";
}
.icomoon-map:before {
	content: "\e045";
}
.icomoon-map-2:before {
	content: "\e046";
}
.icomoon-history:before {
	content: "\e047";
}
.icomoon-clock:before {
	content: "\e048";
}
.icomoon-clock-2:before {
	content: "\e049";
}
.icomoon-alarm:before {
	content: "\e04a";
}
.icomoon-alarm-2:before {
	content: "\e04b";
}
.icomoon-bell:before {
	content: "\e04c";
}
.icomoon-stopwatch:before {
	content: "\e04d";
}
.icomoon-calendar:before {
	content: "\e04e";
}
.icomoon-calendar-2:before {
	content: "\e04f";
}
.icomoon-print:before {
	content: "\e050";
}
.icomoon-keyboard:before {
	content: "\e051";
}
.icomoon-screen:before {
	content: "\e052";
}
.icomoon-laptop:before {
	content: "\e053";
}
.icomoon-mobile:before {
	content: "\e054";
}
.icomoon-mobile-2:before {
	content: "\e055";
}
.icomoon-tablet:before {
	content: "\e056";
}
.icomoon-tv:before {
	content: "\e057";
}
.icomoon-cabinet:before {
	content: "\e058";
}
.icomoon-drawer:before {
	content: "\e059";
}
.icomoon-drawer-2:before {
	content: "\e05a";
}
.icomoon-drawer-3:before {
	content: "\e05b";
}
.icomoon-box-add:before {
	content: "\e05c";
}
.icomoon-box-remove:before {
	content: "\e05d";
}
.icomoon-download:before {
	content: "\e05e";
}
.icomoon-upload:before {
	content: "\e05f";
}
.icomoon-disk:before {
	content: "\e060";
}
.icomoon-storage:before {
	content: "\e061";
}
.icomoon-undo:before {
	content: "\e062";
}
.icomoon-redo:before {
	content: "\e063";
}
.icomoon-flip:before {
	content: "\e064";
}
.icomoon-flip-2:before {
	content: "\e065";
}
.icomoon-undo-2:before {
	content: "\e066";
}
.icomoon-redo-2:before {
	content: "\e067";
}
.icomoon-forward:before {
	content: "\e068";
}
.icomoon-reply:before {
	content: "\e069";
}
.icomoon-bubble:before {
	content: "\e06a";
}
.icomoon-bubbles:before {
	content: "\e06b";
}
.icomoon-bubbles-2:before {
	content: "\e06c";
}
.icomoon-bubble-2:before {
	content: "\e06d";
}
.icomoon-bubbles-3:before {
	content: "\e06e";
}
.icomoon-bubbles-4:before {
	content: "\e06f";
}
.icomoon-user:before {
	content: "\e070";
}
.icomoon-users:before {
	content: "\e071";
}
.icomoon-user-2:before {
	content: "\e072";
}
.icomoon-users-2:before {
	content: "\e073";
}
.icomoon-user-3:before {
	content: "\e074";
}
.icomoon-user-4:before {
	content: "\e075";
}
.icomoon-quotes-left:before {
	content: "\e076";
}
.icomoon-busy:before {
	content: "\e077";
}
.icomoon-spinner:before {
	content: "\e078";
}
.icomoon-spinner-2:before {
	content: "\e079";
}
.icomoon-spinner-3:before {
	content: "\e07a";
}
.icomoon-spinner-4:before {
	content: "\e07b";
}
.icomoon-spinner-5:before {
	content: "\e07c";
}
.icomoon-spinner-6:before {
	content: "\e07d";
}
.icomoon-binoculars:before {
	content: "\e07e";
}
.icomoon-search:before {
	content: "\e07f";
}
.icomoon-zoom-in:before {
	content: "\e080";
}
.icomoon-zoom-out:before {
	content: "\e081";
}
.icomoon-expand:before {
	content: "\e082";
}
.icomoon-contract:before {
	content: "\e083";
}
.icomoon-expand-2:before {
	content: "\e084";
}
.icomoon-contract-2:before {
	content: "\e085";
}
.icomoon-key:before {
	content: "\e086";
}
.icomoon-key-2:before {
	content: "\e087";
}
.icomoon-lock:before {
	content: "\e088";
}
.icomoon-lock-2:before {
	content: "\e089";
}
.icomoon-unlocked:before {
	content: "\e08a";
}
.icomoon-wrench:before {
	content: "\e08b";
}
.icomoon-settings:before {
	content: "\e08c";
}
.icomoon-equalizer:before {
	content: "\e08d";
}
.icomoon-cog:before {
	content: "\e08e";
}
.icomoon-cogs:before {
	content: "\e08f";
}
.icomoon-cog-2:before {
	content: "\e090";
}
.icomoon-hammer:before {
	content: "\e091";
}
.icomoon-wand:before {
	content: "\e092";
}
.icomoon-aid:before {
	content: "\e093";
}
.icomoon-bug:before {
	content: "\e094";
}
.icomoon-pie:before {
	content: "\e095";
}
.icomoon-stats:before {
	content: "\e096";
}
.icomoon-bars:before {
	content: "\e097";
}
.icomoon-bars-2:before {
	content: "\e098";
}
.icomoon-gift:before {
	content: "\e099";
}
.icomoon-trophy:before {
	content: "\e09a";
}
.icomoon-glass:before {
	content: "\e09b";
}
.icomoon-mug:before {
	content: "\e09c";
}
.icomoon-food:before {
	content: "\e09d";
}
.icomoon-leaf:before {
	content: "\e09e";
}
.icomoon-rocket:before {
	content: "\e09f";
}
.icomoon-meter:before {
	content: "\e0a0";
}
.icomoon-meter2:before {
	content: "\e0a1";
}
.icomoon-dashboard:before {
	content: "\e0a2";
}
.icomoon-hammer-2:before {
	content: "\e0a3";
}
.icomoon-fire:before {
	content: "\e0a4";
}
.icomoon-lab:before {
	content: "\e0a5";
}
.icomoon-magnet:before {
	content: "\e0a6";
}
.icomoon-remove:before {
	content: "\e0a7";
}
.icomoon-remove-2:before {
	content: "\e0a8";
}
.icomoon-briefcase:before {
	content: "\e0a9";
}
.icomoon-airplane:before {
	content: "\e0aa";
}
.icomoon-truck:before {
	content: "\e0ab";
}
.icomoon-road:before {
	content: "\e0ac";
}
.icomoon-accessibility:before {
	content: "\e0ad";
}
.icomoon-target:before {
	content: "\e0ae";
}
.icomoon-shield:before {
	content: "\e0af";
}
.icomoon-lightning:before {
	content: "\e0b0";
}
.icomoon-switch:before {
	content: "\e0b1";
}
.icomoon-power-cord:before {
	content: "\e0b2";
}
.icomoon-signup:before {
	content: "\e0b3";
}
.icomoon-list:before {
	content: "\e0b4";
}
.icomoon-list-2:before {
	content: "\e0b5";
}
.icomoon-numbered-list:before {
	content: "\e0b6";
}
.icomoon-menu:before {
	content: "\e0b7";
}
.icomoon-menu-2:before {
	content: "\e0b8";
}
.icomoon-tree:before {
	content: "\e0b9";
}
.icomoon-cloud:before {
	content: "\e0ba";
}
.icomoon-cloud-download:before {
	content: "\e0bb";
}
.icomoon-cloud-upload:before {
	content: "\e0bc";
}
.icomoon-download-2:before {
	content: "\e0bd";
}
.icomoon-upload-2:before {
	content: "\e0be";
}
.icomoon-download-3:before {
	content: "\e0bf";
}
.icomoon-upload-3:before {
	content: "\e0c0";
}
.icomoon-globe:before {
	content: "\e0c1";
}
.icomoon-earth:before {
	content: "\e0c2";
}
.icomoon-link:before {
	content: "\e0c3";
}
.icomoon-flag:before {
	content: "\e0c4";
}
.icomoon-attachment:before {
	content: "\e0c5";
}
.icomoon-eye:before {
	content: "\e0c6";
}
.icomoon-eye-blocked:before {
	content: "\e0c7";
}
.icomoon-eye-2:before {
	content: "\e0c8";
}
.icomoon-bookmark:before {
	content: "\e0c9";
}
.icomoon-bookmarks:before {
	content: "\e0ca";
}
.icomoon-brightness-medium:before {
	content: "\e0cb";
}
.icomoon-brightness-contrast:before {
	content: "\e0cc";
}
.icomoon-contrast:before {
	content: "\e0cd";
}
.icomoon-star:before {
	content: "\e0ce";
}
.icomoon-star-2:before {
	content: "\e0cf";
}
.icomoon-star-3:before {
	content: "\e0d0";
}
.icomoon-heart:before {
	content: "\e0d1";
}
.icomoon-heart-2:before {
	content: "\e0d2";
}
.icomoon-heart-broken:before {
	content: "\e0d3";
}
.icomoon-thumbs-up:before {
	content: "\e0d4";
}
.icomoon-thumbs-up-2:before {
	content: "\e0d5";
}
.icomoon-happy:before {
	content: "\e0d6";
}
.icomoon-happy-2:before {
	content: "\e0d7";
}
.icomoon-smiley:before {
	content: "\e0d8";
}
.icomoon-smiley-2:before {
	content: "\e0d9";
}
.icomoon-tongue:before {
	content: "\e0da";
}
.icomoon-tongue-2:before {
	content: "\e0db";
}
.icomoon-sad:before {
	content: "\e0dc";
}
.icomoon-sad-2:before {
	content: "\e0dd";
}
.icomoon-wink:before {
	content: "\e0de";
}
.icomoon-wink-2:before {
	content: "\e0df";
}
.icomoon-grin:before {
	content: "\e0e0";
}
.icomoon-grin-2:before {
	content: "\e0e1";
}
.icomoon-cool:before {
	content: "\e0e2";
}
.icomoon-cool-2:before {
	content: "\e0e3";
}
.icomoon-angry:before {
	content: "\e0e4";
}
.icomoon-angry-2:before {
	content: "\e0e5";
}
.icomoon-evil:before {
	content: "\e0e6";
}
.icomoon-evil-2:before {
	content: "\e0e7";
}
.icomoon-shocked:before {
	content: "\e0e8";
}
.icomoon-shocked-2:before {
	content: "\e0e9";
}
.icomoon-confused:before {
	content: "\e0ea";
}
.icomoon-confused-2:before {
	content: "\e0eb";
}
.icomoon-neutral:before {
	content: "\e0ec";
}
.icomoon-neutral-2:before {
	content: "\e0ed";
}
.icomoon-wondering:before {
	content: "\e0ee";
}
.icomoon-wondering-2:before {
	content: "\e0ef";
}
.icomoon-point-up:before {
	content: "\e0f0";
}
.icomoon-point-right:before {
	content: "\e0f1";
}
.icomoon-point-down:before {
	content: "\e0f2";
}
.icomoon-point-left:before {
	content: "\e0f3";
}
.icomoon-warning:before {
	content: "\e0f4";
}
.icomoon-notification:before {
	content: "\e0f5";
}
.icomoon-question:before {
	content: "\e0f6";
}
.icomoon-info:before {
	content: "\e0f7";
}
.icomoon-info-2:before {
	content: "\e0f8";
}
.icomoon-blocked:before {
	content: "\e0f9";
}
.icomoon-cancel-circle:before {
	content: "\e0fa";
}
.icomoon-checkmark-circle:before {
	content: "\e0fb";
}
.icomoon-spam:before {
	content: "\e0fc";
}
.icomoon-close:before {
	content: "\e0fd";
}
.icomoon-checkmark:before {
	content: "\e0fe";
}
.icomoon-checkmark-2:before {
	content: "\e0ff";
}
.icomoon-spell-check:before {
	content: "\e100";
}
.icomoon-minus:before {
	content: "\e101";
}
.icomoon-plus:before {
	content: "\e102";
}
.icomoon-enter:before {
	content: "\e103";
}
.icomoon-exit:before {
	content: "\e104";
}
.icomoon-play-2:before {
	content: "\e105";
}
.icomoon-pause:before {
	content: "\e106";
}
.icomoon-stop:before {
	content: "\e107";
}
.icomoon-backward:before {
	content: "\e108";
}
.icomoon-forward-2:before {
	content: "\e109";
}
.icomoon-play-3:before {
	content: "\e10a";
}
.icomoon-pause-2:before {
	content: "\e10b";
}
.icomoon-stop-2:before {
	content: "\e10c";
}
.icomoon-backward-2:before {
	content: "\e10d";
}
.icomoon-forward-3:before {
	content: "\e10e";
}
.icomoon-first:before {
	content: "\e10f";
}
.icomoon-last:before {
	content: "\e110";
}
.icomoon-previous:before {
	content: "\e111";
}
.icomoon-next:before {
	content: "\e112";
}
.icomoon-eject:before {
	content: "\e113";
}
.icomoon-volume-high:before {
	content: "\e114";
}
.icomoon-volume-medium:before {
	content: "\e115";
}
.icomoon-volume-low:before {
	content: "\e116";
}
.icomoon-volume-mute:before {
	content: "\e117";
}
.icomoon-volume-mute-2:before {
	content: "\e118";
}
.icomoon-volume-increase:before {
	content: "\e119";
}
.icomoon-volume-decrease:before {
	content: "\e11a";
}
.icomoon-loop:before {
	content: "\e11b";
}
.icomoon-loop-2:before {
	content: "\e11c";
}
.icomoon-loop-3:before {
	content: "\e11d";
}
.icomoon-shuffle:before {
	content: "\e11e";
}
.icomoon-arrow-up-left:before {
	content: "\e11f";
}
.icomoon-arrow-up:before {
	content: "\e120";
}
.icomoon-arrow-up-right:before {
	content: "\e121";
}
.icomoon-arrow-right:before {
	content: "\e122";
}
.icomoon-arrow-down-right:before {
	content: "\e123";
}
.icomoon-arrow-down:before {
	content: "\e124";
}
.icomoon-arrow-down-left:before {
	content: "\e125";
}
.icomoon-arrow-left:before {
	content: "\e126";
}
.icomoon-arrow-up-left-2:before {
	content: "\e127";
}
.icomoon-arrow-up-2:before {
	content: "\e128";
}
.icomoon-arrow-up-right-2:before {
	content: "\e129";
}
.icomoon-arrow-right-2:before {
	content: "\e12a";
}
.icomoon-arrow-down-right-2:before {
	content: "\e12b";
}
.icomoon-arrow-down-2:before {
	content: "\e12c";
}
.icomoon-arrow-down-left-2:before {
	content: "\e12d";
}
.icomoon-arrow-left-2:before {
	content: "\e12e";
}
.icomoon-arrow-up-left-3:before {
	content: "\e12f";
}
.icomoon-arrow-up-3:before {
	content: "\e130";
}
.icomoon-arrow-up-right-3:before {
	content: "\e131";
}
.icomoon-arrow-right-3:before {
	content: "\e132";
}
.icomoon-arrow-down-right-3:before {
	content: "\e133";
}
.icomoon-arrow-down-3:before {
	content: "\e134";
}
.icomoon-arrow-down-left-3:before {
	content: "\e135";
}
.icomoon-arrow-left-3:before {
	content: "\e136";
}
.icomoon-tab:before {
	content: "\e137";
}
.icomoon-checkbox-checked:before {
	content: "\e138";
}
.icomoon-checkbox-unchecked:before {
	content: "\e139";
}
.icomoon-checkbox-partial:before {
	content: "\e13a";
}
.icomoon-radio-checked:before {
	content: "\e13b";
}
.icomoon-radio-unchecked:before {
	content: "\e13c";
}
.icomoon-crop:before {
	content: "\e13d";
}
.icomoon-scissors:before {
	content: "\e13e";
}
.icomoon-filter:before {
	content: "\e13f";
}
.icomoon-filter-2:before {
	content: "\e140";
}
.icomoon-font:before {
	content: "\e141";
}
.icomoon-text-height:before {
	content: "\e142";
}
.icomoon-text-width:before {
	content: "\e143";
}
.icomoon-bold:before {
	content: "\e144";
}
.icomoon-underline:before {
	content: "\e145";
}
.icomoon-italic:before {
	content: "\e146";
}
.icomoon-strikethrough:before {
	content: "\e147";
}
.icomoon-omega:before {
	content: "\e148";
}
.icomoon-sigma:before {
	content: "\e149";
}
.icomoon-table:before {
	content: "\e14a";
}
.icomoon-table-2:before {
	content: "\e14b";
}
.icomoon-insert-template:before {
	content: "\e14c";
}
.icomoon-pilcrow:before {
	content: "\e14d";
}
.icomoon-left-to-right:before {
	content: "\e14e";
}
.icomoon-right-to-left:before {
	content: "\e14f";
}
.icomoon-paragraph-left:before {
	content: "\e150";
}
.icomoon-paragraph-center:before {
	content: "\e151";
}
.icomoon-paragraph-right:before {
	content: "\e152";
}
.icomoon-paragraph-justify:before {
	content: "\e153";
}
.icomoon-paragraph-left-2:before {
	content: "\e154";
}
.icomoon-paragraph-center-2:before {
	content: "\e155";
}
.icomoon-paragraph-right-2:before {
	content: "\e156";
}
.icomoon-paragraph-justify-2:before {
	content: "\e157";
}
.icomoon-indent-increase:before {
	content: "\e158";
}
.icomoon-indent-decrease:before {
	content: "\e159";
}
.icomoon-new-tab:before {
	content: "\e15a";
}
.icomoon-embed:before {
	content: "\e15b";
}
.icomoon-code:before {
	content: "\e15c";
}
.icomoon-console:before {
	content: "\e15d";
}
.icomoon-share:before {
	content: "\e15e";
}
.icomoon-mail:before {
	content: "\e15f";
}
.icomoon-mail-2:before {
	content: "\e160";
}
.icomoon-mail-3:before {
	content: "\e161";
}
.icomoon-mail-4:before {
	content: "\e162";
}
.icomoon-google:before {
	content: "\e163";
}
.icomoon-google-plus:before {
	content: "\e164";
}
.icomoon-google-plus-2:before {
	content: "\e165";
}
.icomoon-google-plus-3:before {
	content: "\e166";
}
.icomoon-google-plus-4:before {
	content: "\e167";
}
.icomoon-google-drive:before {
	content: "\e168";
}
.icomoon-facebook:before {
	content: "\e169";
}
.icomoon-facebook-2:before {
	content: "\e16a";
}
.icomoon-facebook-3:before {
	content: "\e16b";
}
.icomoon-instagram:before {
	content: "\e16c";
}
.icomoon-twitter:before {
	content: "\e16d";
}
.icomoon-twitter-2:before {
	content: "\e16e";
}
.icomoon-twitter-3:before {
	content: "\e16f";
}
.icomoon-feed-2:before {
	content: "\e170";
}
.icomoon-feed-3:before {
	content: "\e171";
}
.icomoon-feed-4:before {
	content: "\e172";
}
.icomoon-youtube:before {
	content: "\e173";
}
.icomoon-youtube-2:before {
	content: "\e174";
}
.icomoon-vimeo:before {
	content: "\e175";
}
.icomoon-vimeo2:before {
	content: "\e176";
}
.icomoon-vimeo-2:before {
	content: "\e177";
}
.icomoon-lanyrd:before {
	content: "\e178";
}
.icomoon-flickr:before {
	content: "\e179";
}
.icomoon-flickr-2:before {
	content: "\e17a";
}
.icomoon-flickr-3:before {
	content: "\e17b";
}
.icomoon-flickr-4:before {
	content: "\e17c";
}
.icomoon-picassa:before {
	content: "\e17d";
}
.icomoon-picassa-2:before {
	content: "\e17e";
}
.icomoon-dribbble:before {
	content: "\e17f";
}
.icomoon-dribbble-2:before {
	content: "\e180";
}
.icomoon-dribbble-3:before {
	content: "\e181";
}
.icomoon-forrst:before {
	content: "\e182";
}
.icomoon-forrst-2:before {
	content: "\e183";
}
.icomoon-deviantart:before {
	content: "\e184";
}
.icomoon-deviantart-2:before {
	content: "\e185";
}
.icomoon-steam:before {
	content: "\e186";
}
.icomoon-steam-2:before {
	content: "\e187";
}
.icomoon-github:before {
	content: "\e188";
}
.icomoon-github-2:before {
	content: "\e189";
}
.icomoon-github-3:before {
	content: "\e18a";
}
.icomoon-github-4:before {
	content: "\e18b";
}
.icomoon-github-5:before {
	content: "\e18c";
}
.icomoon-wordpress:before {
	content: "\e18d";
}
.icomoon-wordpress-2:before {
	content: "\e18e";
}
.icomoon-joomla:before {
	content: "\e18f";
}
.icomoon-blogger:before {
	content: "\e190";
}
.icomoon-blogger-2:before {
	content: "\e191";
}
.icomoon-tumblr:before {
	content: "\e192";
}
.icomoon-tumblr-2:before {
	content: "\e193";
}
.icomoon-yahoo:before {
	content: "\e194";
}
.icomoon-tux:before {
	content: "\e195";
}
.icomoon-apple:before {
	content: "\e196";
}
.icomoon-finder:before {
	content: "\e197";
}
.icomoon-android:before {
	content: "\e198";
}
.icomoon-windows:before {
	content: "\e199";
}
.icomoon-windows8:before {
	content: "\e19a";
}
.icomoon-soundcloud:before {
	content: "\e19b";
}
.icomoon-soundcloud-2:before {
	content: "\e19c";
}
.icomoon-skype:before {
	content: "\e19d";
}
.icomoon-reddit:before {
	content: "\e19e";
}
.icomoon-linkedin:before {
	content: "\e19f";
}
.icomoon-lastfm:before {
	content: "\e1a0";
}
.icomoon-lastfm-2:before {
	content: "\e1a1";
}
.icomoon-delicious:before {
	content: "\e1a2";
}
.icomoon-stumbleupon:before {
	content: "\e1a3";
}
.icomoon-stumbleupon-2:before {
	content: "\e1a4";
}
.icomoon-stackoverflow:before {
	content: "\e1a5";
}
.icomoon-pinterest:before {
	content: "\e1a6";
}
.icomoon-pinterest-2:before {
	content: "\e1a7";
}
.icomoon-xing:before {
	content: "\e1a8";
}
.icomoon-xing-2:before {
	content: "\e1a9";
}
.icomoon-flattr:before {
	content: "\e1aa";
}
.icomoon-foursquare:before {
	content: "\e1ab";
}
.icomoon-foursquare-2:before {
	content: "\e1ac";
}
.icomoon-paypal:before {
	content: "\e1ad";
}
.icomoon-paypal-2:before {
	content: "\e1ae";
}
.icomoon-paypal-3:before {
	content: "\e1af";
}
.icomoon-yelp:before {
	content: "\e1b0";
}
.icomoon-libreoffice:before {
	content: "\e1b1";
}
.icomoon-file-pdf:before {
	content: "\e1b2";
}
.icomoon-file-openoffice:before {
	content: "\e1b3";
}
.icomoon-file-word:before {
	content: "\e1b4";
}
.icomoon-file-excel:before {
	content: "\e1b5";
}
.icomoon-file-zip:before {
	content: "\e1b6";
}
.icomoon-file-powerpoint:before {
	content: "\e1b7";
}
.icomoon-file-xml:before {
	content: "\e1b8";
}
.icomoon-file-css:before {
	content: "\e1b9";
}
.icomoon-html5:before {
	content: "\e1ba";
}
.icomoon-html5-2:before {
	content: "\e1bb";
}
.icomoon-css3:before {
	content: "\e1bc";
}
.icomoon-chrome:before {
	content: "\e1bd";
}
.icomoon-firefox:before {
	content: "\e1be";
}
.icomoon-IE:before {
	content: "\e1bf";
}
.icomoon-opera:before {
	content: "\e1c0";
}
.icomoon-safari:before {
	content: "\e1c1";
}
.icomoon-IcoMoon:before {
	content: "\e1c2";
}
.icomoon-smashing:before {
	content: "\e1c3";
}
.icomoon-vk:before {
	content: "\e1c4";
}
.icomoon-circles:before {
	content: "\e1c5";
}
.icomoon-behance:before {
	content: "\e1c6";
}
.icomoon-mixi:before {
	content: "\e1c7";
}
.icomoon-soundcloud-3:before {
	content: "\e1c8";
}
.icomoon-picasa:before {
	content: "\e1c9";
}
.icomoon-paypal-4:before {
	content: "\e1ca";
}
.icomoon-sina-weibo:before {
	content: "\e1cb";
}
.icomoon-renren:before {
	content: "\e1cc";
}
.icomoon-skype-2:before {
	content: "\e1cd";
}
.icomoon-skype-3:before {
	content: "\e1ce";
}
.icomoon-flattr-2:before {
	content: "\e1cf";
}
.icomoon-evernote:before {
	content: "\e1d0";
}
.icomoon-dropbox:before {
	content: "\e1d1";
}
.icomoon-instagram-2:before {
	content: "\e1d2";
}
.icomoon-qq:before {
	content: "\e1d3";
}
.icomoon-spotify:before {
	content: "\e1d4";
}
.icomoon-spotify-2:before {
	content: "\e1d5";
}
.icomoon-rdio:before {
	content: "\e1d6";
}
.icomoon-rdio-2:before {
	content: "\e1d7";
}
.icomoon-lastfm-3:before {
	content: "\e1d8";
}
.icomoon-lastfm-4:before {
	content: "\e1d9";
}
.icomoon-stumbleupon-3:before {
	content: "\e1da";
}
.icomoon-stumbleupon-4:before {
	content: "\e1db";
}
.icomoon-dribbble-4:before {
	content: "\e1dc";
}
.icomoon-dribbble-5:before {
	content: "\e1dd";
}
.icomoon-linkedin-2:before {
	content: "\e1de";
}
.icomoon-linkedin-3:before {
	content: "\e1df";
}
.icomoon-tumblr-3:before {
	content: "\e1e0";
}
.icomoon-tumblr-4:before {
	content: "\e1e1";
}
.icomoon-pinterest-3:before {
	content: "\e1e2";
}
.icomoon-pinterest-4:before {
	content: "\e1e3";
}
.icomoon-googleplus:before {
	content: "\e1e4";
}
.icomoon-googleplus-2:before {
	content: "\e1e5";
}
.icomoon-facebook-4:before {
	content: "\e1e6";
}
.icomoon-facebook-5:before {
	content: "\e1e7";
}
.icomoon-facebook-6:before {
	content: "\e1e8";
}
.icomoon-twitter-4:before {
	content: "\e1e9";
}
.icomoon-twitter-5:before {
	content: "\e1ea";
}
.icomoon-vimeo-3:before {
	content: "\e1eb";
}
.icomoon-vimeo-4:before {
	content: "\e1ec";
}
.icomoon-flickr-5:before {
	content: "\e1ed";
}
.icomoon-flickr-6:before {
	content: "\e1ee";
}
.icomoon-github-6:before {
	content: "\e1ef";
}
.icomoon-github-7:before {
	content: "\e1f0";
}
.icomoon-daniel-bruce:before {
	content: "\e1f1";
}
.icomoon-daniel-bruce-2:before {
	content: "\e1f2";
}
.icomoon-cc-share:before {
	content: "\e1f3";
}
.icomoon-cc-share-2:before {
	content: "\e1f4";
}
.icomoon-cc-zero:before {
	content: "\e1f5";
}
.icomoon-cc-pd:before {
	content: "\e1f6";
}
.icomoon-cc-nd:before {
	content: "\e1f7";
}
.icomoon-cc-sa:before {
	content: "\e1f8";
}
.icomoon-cc-nc-jp:before {
	content: "\e1f9";
}
.icomoon-cc-nc-eu:before {
	content: "\e1fa";
}
.icomoon-cc-nc:before {
	content: "\e1fb";
}
.icomoon-cc-by:before {
	content: "\e1fc";
}
.icomoon-cc:before {
	content: "\e1fd";
}
.icomoon-dot:before {
	content: "\e1fe";
}
.icomoon-dots:before {
	content: "\e1ff";
}
.icomoon-ellipsis:before {
	content: "\e200";
}
.icomoon-menu-3:before {
	content: "\e201";
}
.icomoon-arrow-right-4:before {
	content: "\e202";
}
.icomoon-arrow-up-4:before {
	content: "\e203";
}
.icomoon-arrow-down-4:before {
	content: "\e204";
}
.icomoon-arrow-left-4:before {
	content: "\e205";
}
.icomoon-untitled:before {
	content: "\e206";
}
.icomoon-arrow-up-5:before {
	content: "\e207";
}
.icomoon-arrow-down-5:before {
	content: "\e208";
}
.icomoon-arrow-left-5:before {
	content: "\e209";
}
.icomoon-arrow-right-5:before {
	content: "\e20a";
}
.icomoon-arrow-up-6:before {
	content: "\e20b";
}
.icomoon-arrow-down-6:before {
	content: "\e20c";
}
.icomoon-arrow-left-6:before {
	content: "\e20d";
}
.icomoon-arrow-right-6:before {
	content: "\e20e";
}
.icomoon-arrow-up-7:before {
	content: "\e20f";
}
.icomoon-arrow-down-7:before {
	content: "\e210";
}
.icomoon-arrow-left-7:before {
	content: "\e211";
}
.icomoon-arrow-right-7:before {
	content: "\e212";
}
.icomoon-arrow-up-8:before {
	content: "\e213";
}
.icomoon-arrow-down-8:before {
	content: "\e214";
}
.icomoon-arrow-left-8:before {
	content: "\e215";
}
.icomoon-arrow-right-8:before {
	content: "\e216";
}
.icomoon-arrow-up-9:before {
	content: "\e217";
}
.icomoon-arrow-down-9:before {
	content: "\e218";
}
.icomoon-arrow-left-9:before {
	content: "\e219";
}
.icomoon-arrow-right-9:before {
	content: "\e21a";
}
.icomoon-arrow-up-10:before {
	content: "\e21b";
}
.icomoon-arrow-down-10:before {
	content: "\e21c";
}
.icomoon-arrow-left-10:before {
	content: "\e21d";
}
.icomoon-arrow-right-10:before {
	content: "\e21e";
}
.icomoon-arrow-up--upload:before {
	content: "\e21f";
}
.icomoon-arrow-down-11:before {
	content: "\e220";
}
.icomoon-arrow-left-11:before {
	content: "\e221";
}
.icomoon-flow-parallel:before {
	content: "\e222";
}
.icomoon-flow-line:before {
	content: "\e223";
}
.icomoon-flow-tree:before {
	content: "\e224";
}
.icomoon-flow-branch:before {
	content: "\e225";
}
.icomoon-flow-cascade:before {
	content: "\e226";
}
.icomoon-mute:before {
	content: "\e227";
}
.icomoon-sound:before {
	content: "\e228";
}
.icomoon-volume:before {
	content: "\e229";
}
.icomoon-resize-shrink:before {
	content: "\e22a";
}
.icomoon-resize-enlarge:before {
	content: "\e22b";
}
.icomoon-last-2:before {
	content: "\e22c";
}
.icomoon-first-2:before {
	content: "\e22d";
}
.icomoon-previous-2:before {
	content: "\e22e";
}
.icomoon-next-2:before {
	content: "\e22f";
}
.icomoon-stop-3:before {
	content: "\e230";
}
.icomoon-record:before {
	content: "\e231";
}
.icomoon-pause-3:before {
	content: "\e232";
}
.icomoon-play-4:before {
	content: "\e233";
}
.icomoon-book-2:before {
	content: "\e234";
}
.icomoon-bookmarks-2:before {
	content: "\e235";
}
.icomoon-bookmark-2:before {
	content: "\e236";
}
.icomoon-upload-4:before {
	content: "\e237";
}
.icomoon-cloud-2:before {
	content: "\e238";
}
.icomoon-install:before {
	content: "\e239";
}
.icomoon-disk-2:before {
	content: "\e23a";
}
.icomoon-download-4:before {
	content: "\e23b";
}
.icomoon-upload-5:before {
	content: "\e23c";
}
.icomoon-trash:before {
	content: "\e23d";
}
.icomoon-archive:before {
	content: "\e23e";
}
.icomoon-folder-2:before {
	content: "\e23f";
}
.icomoon-music-2:before {
	content: "\e240";
}
.icomoon-video:before {
	content: "\e241";
}
.icomoon-pictures:before {
	content: "\e242";
}
.icomoon-landscape:before {
	content: "\e243";
}
.icomoon-docs:before {
	content: "\e244";
}
.icomoon-document:before {
	content: "\e245";
}
.icomoon-text:before {
	content: "\e246";
}
.icomoon-text-2:before {
	content: "\e247";
}
.icomoon-list-3:before {
	content: "\e248";
}
.icomoon-layout:before {
	content: "\e249";
}
.icomoon-add-to-list:before {
	content: "\e24a";
}
.icomoon-list-4:before {
	content: "\e24b";
}
.icomoon-switch-2:before {
	content: "\e24c";
}
.icomoon-back:before {
	content: "\e24d";
}
.icomoon-history-2:before {
	content: "\e24e";
}
.icomoon-loop-4:before {
	content: "\e24f";
}
.icomoon-retweet:before {
	content: "\e250";
}
.icomoon-arrow:before {
	content: "\e251";
}
.icomoon-arrow-2:before {
	content: "\e252";
}
.icomoon-shuffle-2:before {
	content: "\e253";
}
.icomoon-ccw:before {
	content: "\e254";
}
.icomoon-cw:before {
	content: "\e255";
}
.icomoon-cycle:before {
	content: "\e256";
}
.icomoon-warning-2:before {
	content: "\e257";
}
.icomoon-help:before {
	content: "\e258";
}
.icomoon-question-2:before {
	content: "\e259";
}
.icomoon-info-3:before {
	content: "\e25a";
}
.icomoon-info-4:before {
	content: "\e25b";
}
.icomoon-blocked-2:before {
	content: "\e25c";
}
.icomoon-erase:before {
	content: "\e25d";
}
.icomoon-plus-2:before {
	content: "\e25e";
}
.icomoon-minus-2:before {
	content: "\e25f";
}
.icomoon-cross:before {
	content: "\e260";
}
.icomoon-plus-3:before {
	content: "\e261";
}
.icomoon-minus-3:before {
	content: "\e262";
}
.icomoon-cross-2:before {
	content: "\e263";
}
.icomoon-plus-4:before {
	content: "\e264";
}
.icomoon-minus-4:before {
	content: "\e265";
}
.icomoon-cross-3:before {
	content: "\e266";
}
.icomoon-checkmark-3:before {
	content: "\e267";
}
.icomoon-login:before {
	content: "\e268";
}
.icomoon-logout:before {
	content: "\e269";
}
.icomoon-lock-open:before {
	content: "\e26a";
}
.icomoon-lock-3:before {
	content: "\e26b";
}
.icomoon-graph:before {
	content: "\e26c";
}
.icomoon-bars-3:before {
	content: "\e26d";
}
.icomoon-pie-2:before {
	content: "\e26e";
}
.icomoon-statistics:before {
	content: "\e26f";
}
.icomoon-untitled-2:before {
	content: "\e270";
}
.icomoon-droplets:before {
	content: "\e271";
}
.icomoon-thermometer:before {
	content: "\e272";
}
.icomoon-signal:before {
	content: "\e273";
}
.icomoon-rss:before {
	content: "\e274";
}
.icomoon-ticket-2:before {
	content: "\e275";
}
.icomoon-box:before {
	content: "\e276";
}
.icomoon-cart-4:before {
	content: "\e277";
}
.icomoon-clipboard:before {
	content: "\e278";
}
.icomoon-voicemail:before {
	content: "\e279";
}
.icomoon-database:before {
	content: "\e27a";
}
.icomoon-credit-card:before {
	content: "\e27b";
}
.icomoon-light-bulb:before {
	content: "\e27c";
}
.icomoon-infinity:before {
	content: "\e27d";
}
.icomoon-screen-2:before {
	content: "\e27e";
}
.icomoon-code-2:before {
	content: "\e27f";
}
.icomoon-adjust:before {
	content: "\e280";
}
.icomoon-sun:before {
	content: "\e281";
}
.icomoon-sun-2:before {
	content: "\e282";
}
.icomoon-progress-0:before {
	content: "\e283";
}
.icomoon-brogress-1:before {
	content: "\e284";
}
.icomoon-progress-2:before {
	content: "\e285";
}
.icomoon-progress-3:before {
	content: "\e286";
}
.icomoon-publish:before {
	content: "\e287";
}
.icomoon-browser:before {
	content: "\e288";
}
.icomoon-keyboard-2:before {
	content: "\e289";
}
.icomoon-earth-2:before {
	content: "\e28a";
}
.icomoon-cone:before {
	content: "\e28b";
}
.icomoon-suitcase:before {
	content: "\e28c";
}
.icomoon-brush:before {
	content: "\e28d";
}
.icomoon-rocket-2:before {
	content: "\e28e";
}
.icomoon-cup:before {
	content: "\e28f";
}
.icomoon-drive:before {
	content: "\e290";
}
.icomoon-magnet-2:before {
	content: "\e291";
}
.icomoon-bucket:before {
	content: "\e292";
}
.icomoon-battery:before {
	content: "\e293";
}
.icomoon-key-3:before {
	content: "\e294";
}
.icomoon-network:before {
	content: "\e295";
}
.icomoon-language:before {
	content: "\e296";
}
.icomoon-gauge:before {
	content: "\e297";
}
.icomoon-hourglass:before {
	content: "\e298";
}
.icomoon-air:before {
	content: "\e299";
}
.icomoon-briefcase-2:before {
	content: "\e29a";
}
.icomoon-cd:before {
	content: "\e29b";
}
.icomoon-droplet-2:before {
	content: "\e29c";
}
.icomoon-thunder:before {
	content: "\e29d";
}
.icomoon-bolt:before {
	content: "\e29e";
}
.icomoon-calendar-3:before {
	content: "\e29f";
}
.icomoon-microphone:before {
	content: "\e2a0";
}
.icomoon-clock-3:before {
	content: "\e2a1";
}
.icomoon-eye-3:before {
	content: "\e2a2";
}
.icomoon-lifebuoy:before {
	content: "\e2a3";
}
.icomoon-airplane-2:before {
	content: "\e2a4";
}
.icomoon-bag:before {
	content: "\e2a5";
}
.icomoon-newspaper-2:before {
	content: "\e2a6";
}
.icomoon-book-3:before {
	content: "\e2a7";
}
.icomoon-graduation:before {
	content: "\e2a8";
}
.icomoon-new:before {
	content: "\e2a9";
}
.icomoon-music-3:before {
	content: "\e2aa";
}
.icomoon-music-4:before {
	content: "\e2ab";
}
.icomoon-leaf-2:before {
	content: "\e2ac";
}
.icomoon-palette:before {
	content: "\e2ad";
}
.icomoon-moon:before {
	content: "\e2ae";
}
.icomoon-megaphone:before {
	content: "\e2af";
}
.icomoon-camera-3:before {
	content: "\e2b0";
}
.icomoon-tag-2:before {
	content: "\e2b1";
}
.icomoon-trophy-2:before {
	content: "\e2b2";
}
.icomoon-tools:before {
	content: "\e2b3";
}
.icomoon-cog-3:before {
	content: "\e2b4";
}
.icomoon-flag-2:before {
	content: "\e2b5";
}
.icomoon-link-2:before {
	content: "\e2b6";
}
.icomoon-bell-2:before {
	content: "\e2b7";
}
.icomoon-printer:before {
	content: "\e2b8";
}
.icomoon-flashlight:before {
	content: "\e2b9";
}
.icomoon-search-2:before {
	content: "\e2ba";
}
.icomoon-popup:before {
	content: "\e2bb";
}
.icomoon-house:before {
	content: "\e2bc";
}
.icomoon-quote:before {
	content: "\e2bd";
}
.icomoon-comment:before {
	content: "\e2be";
}
.icomoon-chat:before {
	content: "\e2bf";
}
.icomoon-thumbs-down:before {
	content: "\e2c0";
}
.icomoon-thumbs-up-3:before {
	content: "\e2c1";
}
.icomoon-star-4:before {
	content: "\e2c2";
}
.icomoon-star-5:before {
	content: "\e2c3";
}
.icomoon-heart-3:before {
	content: "\e2c4";
}
.icomoon-heart-4:before {
	content: "\e2c5";
}
.icomoon-sharable:before {
	content: "\e2c6";
}
.icomoon-share-2:before {
	content: "\e2c7";
}
.icomoon-target-2:before {
	content: "\e2c8";
}
.icomoon-location-3:before {
	content: "\e2c9";
}
.icomoon-compass-2:before {
	content: "\e2ca";
}
.icomoon-map-3:before {
	content: "\e2cb";
}
.icomoon-location-4:before {
	content: "\e2cc";
}
.icomoon-export:before {
	content: "\e2cd";
}
.icomoon-vcard:before {
	content: "\e2ce";
}
.icomoon-user-add:before {
	content: "\e2cf";
}
.icomoon-users-3:before {
	content: "\e2d0";
}
.icomoon-user-5:before {
	content: "\e2d1";
}
.icomoon-forward-4:before {
	content: "\e2d2";
}
.icomoon-reply-all:before {
	content: "\e2d3";
}
.icomoon-reply-2:before {
	content: "\e2d4";
}
.icomoon-drawer-4:before {
	content: "\e2d5";
}
.icomoon-paperclip:before {
	content: "\e2d6";
}
.icomoon-feather:before {
	content: "\e2d7";
}
.icomoon-pencil-3:before {
	content: "\e2d8";
}
.icomoon-paperplane:before {
	content: "\e2d9";
}
.icomoon-mail-5:before {
	content: "\e2da";
}
.icomoon-directions:before {
	content: "\e2db";
}
.icomoon-mouse:before {
	content: "\e2dc";
}
.icomoon-mobile-3:before {
	content: "\e2dd";
}
.icomoon-phone-2:before {
	content: "\e2de";
}
